<div class="page-container">
  <h1>Demandes d’échantillon</h1>

  <div class="top-bar">
    <div class="welcome-box">
      <p>Gestion des demandes</p>
      <p><strong>Suivi des échantillons</strong></p>
    </div>

    <div class="page-action">
      <a routerLink="/demande-echantillon/add" class="btn-add">Ajouter</a>
    </div>
  </div>

  @if (successMessage) {
    <div class="alert success">
      {{ successMessage }}
    </div>
  }

  @if (errorMessage) {
    <div class="alert error">
      {{ errorMessage }}
    </div>
  }

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date demande</th>
          <th>Délai livraison</th>
          <th>État</th>
          <th>Fournisseur</th>
          <th>Matière première</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (demande of demandes$ | async; track demande.id) {
          <tr>
            <td>{{ demande.id }}</td>
            <td>{{ demande.dateDemande | date:'dd/MM/yyyy' }}</td>
            <td>{{ demande.delaiLivraison | date:'dd/MM/yyyy' }}</td>
            <td>
              <span
                [class.etat-encours]="demande.etat === 'EN_COURS'"
                [class.etat-envoye]="demande.etat === 'ENVOYE'"
                [class.etat-recu]="demande.etat === 'RECU'"
                [class.etat-refuse]="demande.etat === 'REFUSE'">
                {{ demande.etat }}
              </span>
            </td>
            <td>{{ getFournisseurName(demande.fournisseur) }}</td>
            <td>{{ getMpName(demande.mp) }}</td>
            <td class="actions-cell">
              @if (demande.id) {
                <button (click)="openDeleteModal(demande.id)" class="btn-delete">
                  supprimer
                </button>
              }
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="7" class="empty">Aucune demande trouvée</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (showDeleteModal) {
  <div class="modal-backdrop">
    <div class="modal-box">
      <h3>Confirmer la suppression</h3>
      <p>Voulez-vous vraiment supprimer cette demande ?</p>

      <div class="modal-actions">
        <button class="btn-cancel" (click)="closeDeleteModal()">
          Annuler
        </button>
        <button class="btn-delete" (click)="confirmDelete()">
          Supprimer
        </button>
      </div>
    </div>
  </div>
}